<div class ="container" id="b_show">
       <h2>Blogs Detail</h2>
         <div>
         <strong>Title:</strong>
          <%=@blog.title%>
        </div>
        <div>
         <strong>Description:</strong>
          <%=@blog.description%>
        </div>
        <br><br>
    </div>  